/* Typical use cases of Flexbox */
/* Space distributed outside the items */
nav {
    border: 2px solid #eeeeee;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    /* justify-content: space-between; */
    gap: 20px;
}

.push-right {
    margin-left: auto;
}

nav a {
    text-decoration: none;
    color:#000;
    border: 2px solid rgb(96 139 168);
    border-radius: 5px;
    background-color: rgb(96 139 168 / 0.2);
    padding: 10px;
    display: block;
}

nav li {
    flex: auto;
}

/* split navigation */
/* Another way to align items on the main axis is to use auto margins */
